.todo-list-container{
    display: grid;
    background-color: #F9B487;
    height: 100%;
    min-height: 400px;
    position: relative;
    border-radius: 10px;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: stretch;
    grid-template-columns: 50% 50%;
    justify-items: center;
    row-gap: 20px;
    padding: 20px;
    
}